/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Reset */

/* Proprietà generali body */
body {
  font-family: Montserrat;
  color: #33475b;
}
/* Fine Proprietà generali body */

/* Proprietà generali Header */
header {
  font-weight: 600;
  font-size: 18px;
}
/* Fine Proprietà generali Header */

/* Proprietà generali anchor */
a {
  text-decoration: none;
  color: #33475b;
}
/* Fine Proprietà generali anchor */

/* Proprietà generali list items */
li {
  list-style: none;
}
/* Fine Proprietà generali list items */

/* Proprietà generali container (Per la larghezza dei contenuti) */
.container {
  width: 70%;
  margin: auto;
}
/* Fine Proprietà generali container (Per la larghezza dei contenuti) */

/* Proprietà Top-Bar */
.top-bar {
  background-color: #f4f9fd;
  height: 100px;
}

.col {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col.top-bar {
  width: 50%;
  height: 100px;
}

.lang {
  border-right: 2px solid #33475b;
}

.col.top-bar p{
display: inline-block;
}

.col.top-bar a{
line-height: 100px;
}

.col.top-bar a.lang {
  padding-right: 20px;
}

.col.top-bar a.contactus {
margin-left: 15px;
}

.fa-chevron-down {
  vertical-align: middle;
  padding-left: 7px;
}

.fa-globe-europe {
  padding-right: 7px;
}

.col.top-bar.right {
  text-align: right;
}

#loginbutton {
  background-color: white;
  padding: 10px 12px;
  border: 1px solid #fe775a;
  border-radius: 5px;
  color: #fe775a;
}

.fa-search {
  margin-right: 10px;
  color: #00a4bd;
}

.orangebutton {
  color: white;
  background-color: #fe775a;
  padding: 10px 12px;
  border-radius: 5px;
  margin-left: 10px;
}
/* Fine Top-bar Header */

/* Nav Header */
nav {
  padding: 30px 0;
}

.col.nav {
  width: 20%;
  height: 30px;
  line-height: 30px;
}

.col.nav.right {
  width: 80%;
}

.lista-nav li{
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
}

.col.nav.right {
text-align: right;
}
/* Fine Nav Header */

.jumbotron {
  background-image: url(../img/jumbotron.png);
  
  height: 930px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan {
  width: 50%;
}

.slogan h2 {
  padding-top: 20%;
  font-size: 50px;
}

.slogan p {
  padding-top: 5%;
  font-size: 20px;
  margin-bottom: 25px;
}

.button-slogan {
margin-left: 0;
padding: 20px 40px;
font-size: 16px;
}

p.getstarted {
  font-size: 15px;
}
