/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Fine Reset */

/* Proprietà generali body */
body {
  font-family: Montserrat;
  color: #33475b;
  font-weight: 600;
}
/* Fine Proprietà generali body */

/* Proprietà generali Header */
header {
  font-size: 18px;
}
/* Fine Proprietà generali Header */

/* Proprietà generali anchor */
a {
  text-decoration: none;
  color: #33475b;
}
/* Fine Proprietà generali anchor */

/* Proprietà generali list items */
li {
  list-style: none;
}
/* Fine Proprietà generali list items */

/* Proprietà generali container (Per la larghezza dei contenuti) */
.container {
  width: 70%;
  margin: auto;
}
/* Fine Proprietà generali container (Per la larghezza dei contenuti) */

/* Proprietà Top-Bar */
.top-bar {
  background-color: #f4f9fd;
  height: 100px;
}

.col {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.col.top-bar {
  width: 50%;
  height: 100px;
}

.lang {
  border-right: 2px solid #33475b;
}

.col.top-bar p {
display: inline-block;
}

.col.top-bar a {
line-height: 100px;
}

.col.top-bar a.lang {
  padding-right: 20px;
}

.col.top-bar a.contactus {
margin-left: 15px;
}

.fa-chevron-down {
  vertical-align: middle;
  padding-left: 7px;
}

.fa-globe-europe {
  padding-right: 7px;
}

.col.top-bar.right {
  text-align: right;
}

#loginbutton {
  background-color: white;
  padding: 10px 12px;
  border: 1px solid #fe775a;
  border-radius: 5px;
  color: #fe775a;
  transition: background-color 0.5s;
}

#loginbutton:hover {
  background-color: #ffe0cc;
}

.fa-search {
  margin-right: 10px;
  color: #00a4bd;
}

.orangebutton {
  color: white;
  background-color: #fe775a;
  padding: 10px 12px;
  border-radius: 5px;
  margin-left: 10px;
  transition: background-color 0.5s;
}

.orangebutton:hover {
  background-color: #fe9780;
}
/* Fine Top-bar Header */

/* Nav Header */
nav {
  padding: 30px 0;
}

.col.nav {
  width: 20%;
  height: 30px;
  line-height: 30px;
}

.col.nav.right {
  width: 80%;
}

.lista-nav li {
  display: inline-block;
  margin-left: 15px;
  font-size: 18px;
}

.col.nav.right {
text-align: right;
}
/* Fine Nav Header */

.jumbotron {
  background-image: url(../img/jumbotron.png);
  height: 930px;
  background-repeat: no-repeat;
  background-size: cover;
}

.slogan {
  width: 50%;
}

.slogan h2 {
  padding-top: 15%;
  font-size: 50px;
}

.slogan p {
  padding-top: 5%;
  font-size: 20px;
  margin-bottom: 25px;
}

.button-slogan {
margin-left: 0;
padding: 20px 40px;
font-size: 16px;
}

p.getstarted {
  font-size: 15px;
}

.offers {
  background-color: #f4f9fd;
}

.integrations {
  width: 50%;
  text-align: center;
  margin: 50px auto;
}

.integrations img {
  height: 250px;
}

.integrations h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.integrations p {
  font-size: 16px;
  line-height: 30px;
}

.colmain {
  text-align: center;
  width: 100%;
  margin: auto;
  border: 2px solid #e6ecf1;
  border-radius: 5px;
  padding: 60px;
}

.colmain img {
  height: 135px;
}

.learnmore {
  margin-top: 20px;
  padding: 25px 40px;
  display: inline-block;

}

.crmleft {
  width: 20%
}

.crmright {
  text-align: left;
  width: 70%;
  margin-left: 10%;
}

section.offers h3 {
  margin: 10px 0;
  font-size: 30px;
}

section.offers p {
  margin-top: 20px;
}

section.offers h4 {
  font-size: 20px;
  margin: 30px 0 15px;
  font-weight: 400px;
  text-transform: uppercase;
  display: inline-block;
}

.crmright h4 {
vertical-align: -5px;
}

#rigacrm {
  line-height: 10px;
  margin-left: 5%;
  width: 55%;
  display: inline-block;
  top: 20px;
  height: 3px;
  background-color: #33475b;
}

.fa-check-circle {
  color: #fe775a;
  font-size: 20px;
}

.col.crmright li {
  display: inline-block;
  margin-right: 25px;
}

.col.crmright ul li p {
  display: inline-block;
  margin-left: 10px;
}

.hub {
  margin: 60px 0;
  padding: 30px 25px;
  width: 30%;
}

.hub img {
  height: 120px;
}

.hub p {
  display: inline;
  margin-left: 10px;
}

.col.colmain.hub h3 {
  margin: 20px 0 40px;
}

.hubcenter {
  margin: 60px 5%;
}

.rigahub {
  margin: 60px 0 20px;
  height: 3px;
  background-color: #33475b;
}

.checklist {
  margin: 25px 0 25px;
  text-align: left;
}

section.learnandgrow {
  background: linear-gradient(to right, #00a6bb 0%, #00bba8 100%);
  color: white;
  padding-bottom: 100px;
}

div.learnandgrow {
  margin: auto;
  padding: 80px 0;
  text-align: center;
}

.learnandgrow h2 {
  font-size: 32px;
}

.learnandgrow p {
  font-size: 15px;
  padding: 30px 0;
  line-height: 30px;
}

section.learnandgrow .col {
  text-align: center;
  width: 25%
}

section.learnandgrow .col p {
  padding: 20px;
  font-weight: normal;
}

section.learnandgrow .col h2 {
  font-family: arial;
  font-size: 50px;
}

img.imglearnandgrow {
  padding: 25px 0;
  height: 90px;
}

.col.learnandgrow-leftcentral {
  border-left: 1px solid;
  border-right: 1px solid;
}

.col.learnandgrow-rightcentral {
  border-right: 1px solid;
}

.partners {
  padding: 40px 80px;
}

.col.partners-topleft {
  width: 28%;
  padding: 20px 20px 0 0;
}

.col.partners-topleft h2 {
  font-size: 50px;
}

.col.partners-topleft p {
  margin-top: 20px;
  font-size: 20px;
  line-height: 28px;
}

.col.partners-topleft span {
  font-weight: 900;
}

.col.partners-topright {
  text-align: right;
  width: 72%;
  padding-left: 12%;
}

.col.partners-topright .col {
  width: 25%;
}

.col.partners-topright img {
  width: 70%;
  margin: 30px 20px;
}

.col.partners-bottomleft {
  width: 45%;
  padding: 20px 0;
}

.col.partners-bottomleft h2 {
  padding-bottom: 40px;
  font-size: 40px;
  font-family: arial;

}

.col.partners-bottomleft p {
  padding-bottom: 60px;
  line-height: 24px;
}

.col.partners-bottomright {
  width: 55%;
  text-align: right;
}

.col.partners-bottomright img {
 width: 400px;
}
